<h4>Mes médias</h4>
  <div class="row">
    <div class="col">
      <label>Quelles radios écoutez-vous régulièrement ?</label>
      <ng-select [multiple]="true" [(ngModel)]="selectedQuelles" (change)="setselectedQuelles($event)">
        <ng-option *ngFor="let quell of quelles" [value]="quell.title">{{quell.title}}</ng-option>
        <ng-option [value]="'custom'">Custom</ng-option>
      </ng-select>
    </div>

      <div class="col">
        <label>Avez-vous des abonnements TV ? Lesquels ?</label>
        <ng-select [multiple]="true" [(ngModel)]="selectedavezVvous" (change)="setselectedavezVvous($event)">
          <ng-option *ngFor="let avez of avezVvous" [value]="avez.title">{{avez.title}}</ng-option>
          <ng-option [value]="'custom'">Custom</ng-option>
        </ng-select>
      </div>

    <div class="col">
      <label>Quels magazines ou journaux lisez-vous régulièrement ?</label>
      <ng-select [multiple]="true" [(ngModel)]="selectedquelsMagazines" (change)="setselectedquelsMagazines($event)">
        <ng-option *ngFor="let quels of quelsMagazines" [value]="quels.title">{{quels.title}}</ng-option>
        <ng-option [value]="'custom'">Custom</ng-option>
      </ng-select>
    </div>
    <div class="col">
      <label>Quel est votre fournisseur internet ?</label>
      <ng-select [multiple]="true" [(ngModel)]="selectedQuelest" (change)="setselectedQuelest($event)">
        <ng-option *ngFor="let quels of quelest" [value]="quels.title">{{quels.title}}</ng-option>
        <ng-option [value]="'custom'">Custom</ng-option>
      </ng-select>
    </div>
</div>
<br>
<h4>Ma téléphonie</h4>
<div class="row">
  <div class="col">
    <label>Quel est l'opérateur de votre téléphone mobile ?</label>
    <ng-select [multiple]="true" [(ngModel)]="selectedMobile" (change)="setselectedMobile($event)">
      <ng-option *ngFor="let mobile of phoneMobile" [value]="mobile.title">{{mobile.title}}</ng-option>
      <ng-option [value]="'custom'">Custom</ng-option>
    </ng-select>
  </div>
    <div class="col">
      <label>Marque de votre téléphone portable personnel</label>
      <select class="form-control" [(ngModel)]="marqueDeVotreTelephonePortablePersonnel" (change)="setMarqueDeVotreTelephonePortablePersonnel($event)">
        <option></option>
        <option value="1">Abri jardin</option>
     </select>
    </div>
  <div class="col"></div>
  <div class="col">

  </div>
</div>


<br>
<div>
  <div class="row">
    <div class="col">
        <input type="button" name="submit" class="btn btn-info btn-md  float-end" value="Précédent" (click)="back()">
    </div>
    <div class="col"></div>
    <div class="col"></div>

    <div class="col">
      <input type="button" class="btn btn-info btn-md  float-end" value="Suivant" style="margin-left: 20px;" (click)="saveFormData()">
    </div>
  </div>
</div>