
<div class="row">
  <div class="col">
    <label>Sensibilité politique</label>
    <select class="form-control">
      <option>(choisissez)</option>
      <option value="1">Locataire</option>
      <option value="2">Logé à titre gratuit</option>
      <option value="3">Logé à titre professionnel</option>
      <option value="4">Logé chez mon conjoint</option>
      <option value="5">Logé chez ses parents</option>
      <option value="6">Propriétaire</option>
      <option value="7">Autre, précisez</option>
    </select>
  </div>

    <div class="col">
      <label>Que pensez-vous de la protection de l’environnement, du développement durable, du réchauffement climatique ?</label>
      <select class="form-control">
        <option>(choisissez)</option>
        <option value="1">Locataire</option>
        <option value="2">Logé à titre gratuit</option>
        <option value="3">Logé à titre professionnel</option>
        <option value="4">Logé chez mon conjoint</option>
        <option value="5">Logé chez ses parents</option>
        <option value="6">Propriétaire</option>
        <option value="7">Autre, précisez</option>
      </select>
    </div>

  <div class="col">
    <label>Auprès de quel(s) autre(s) panel(s) de consommateurs êtes-vous inscrit(e) ?</label>
    <input type="text" class="form-control">
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <label>Comment avez-vous connu AVENIR FOCUS ?</label>
    <input type="text" class="form-control">
  </div>

    <div class="col">
      <label>Si besoin, précisez : </label>
      <input type="text" class="form-control">
    </div>
    <div class="col"></div>
</div>
<br>
<div>
  <div class="row">
    <div class="col">
        <input type="submit" name="submit" class="btn btn-info btn-md  float-end" value="Précédent">
    </div>
    <div class="col"></div>
    <div class="col"></div>

    <div class="col">
      <input type="submit" name="submit" class="btn btn-info btn-md  float-start" value="Enregistrer">
      <input type="submit" name="submit" class="btn btn-info btn-md  float-end" value="Suivant" style="margin-left: 20px;">
    </div>
  </div>
  </div>



