<h4>Mes déplacements</h4>
<div class="row">
  <div class="col">
    <label>Quels moyens de transports utilisez-vous régulièrement ?</label>
    <ng-select [multiple]="true" [(ngModel)]="selectedQuelsMoyens">
      <ng-option *ngFor="let moyens of quelsMoyens" [value]="moyens.title">{{moyens.title}}</ng-option>
      <ng-option [value]="'custom'">Custom</ng-option>
    </ng-select>
  </div>
  <div class="col">
    <label>Quelle(s) carte(s) d’abonnement de transport possédez-vous?</label>
    <ng-select [multiple]="true" [(ngModel)]="selectedQuelleCarte">
      <ng-option *ngFor="let carte of quelleCarte" [value]="carte.title">{{carte.title}}</ng-option>
      <ng-option [value]="'custom'">Custom</ng-option>
    </ng-select>
  </div>
  <div class="col"></div>
</div>
<br>

<h4>Mes véhicules automobiles</h4>
<div class="row">
  <div class="col">
    <label>Combien de véhicules automobiles utilisez-vous dans votre foyer ?</label>
    <select class="form-control" (change)="setCombienDeVehiculesAutomobiles($event)">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select>
  </div>
      <div class="col"></div>
      <div class="col"></div>
</div>
<br>
<br>
<h4>Mes véhicules 2 roues</h4>
<div class="row">
      <div class="col">
        <label>Combien de véhicules 2 roues utilisez-vous dans votre foyer ?</label>
        <select class="form-control" (change)="setCombienDeVehicules2roues($event)" [(ngModel)]="combienDeVehicules2roues">
          <option></option>
          <option value="1">Abri jardin</option>
      </select>
      </div>
        <div class="col"></div>
        <div class="col"></div>

  </div>
<br>
<div>
<div class="row">
  <div class="col">
      <input type="button" name="submit" class="btn btn-info btn-md  float-end" value="Précédent" (click)="back()">
  </div>
  <div class="col"></div>
  <div class="col"></div>

  <div class="col">
    <input type="button" name="submit" class="btn btn-info btn-md  float-end" value="Suivant" style="margin-left: 20px;" (click)="saveForm()">
  </div>
</div>
</div>




