<h4>Mes assurances</h4>
<div class="row">
  <div class="col">
    <label>Assurance habitation</label>
    <ng-select [multiple]="true" [(ngModel)]="selectedAssuranceHabitation">
      <ng-option *ngFor="let ash of assuranceHabitation" [value]="ash.title">{{ash.title}}</ng-option>
      <ng-option [value]="'custom'">Custom</ng-option>
    </ng-select>
  </div>

    <div class="col">
      <label>Mutuelle personnelle</label>
      <ng-select [multiple]="true" [(ngModel)]="selectedMutuellePersonnelle">
        <ng-option *ngFor="let mutuellePer of mutuellePersonnelle" [value]="mutuellePer.title">{{mutuellePer.title}}</ng-option>
        <ng-option [value]="'custom'">Custom</ng-option>
      </ng-select>
    </div>

  <div class="col">
    <label>Mutuelle professionnelle</label>
    <ng-select [multiple]="true" [(ngModel)]="selectedMutuelleProfessionnelle">
      <ng-option *ngFor="let mutuelleProfessionnelle of mutuelleProfessionnelle" [value]="mutuelleProfessionnelle.title">{{mutuelleProfessionnelle.title}}</ng-option>
      <ng-option [value]="'custom'">Custom</ng-option>
    </ng-select>
  </div>
</div>
<br>

<div class="row">
  <div class="col">
    <label>Assurance automobile</label>
    <ng-select [multiple]="true" [(ngModel)]="selectedAssuranceAutomobile">
      <ng-option *ngFor="let assurance of assuranceAutomobile" [value]="assurance.title">{{assurance.title}}</ng-option>
      <ng-option [value]="'custom'">Custom</ng-option>
    </ng-select>
  </div>
<div class="col">
  <label>Assurance vie</label>
  <ng-select [multiple]="true" [(ngModel)]="selectedAssuranceVie">
    <ng-option *ngFor="let assceVie of assuranceVie" [value]="assceVie.title">{{assceVie.title}}</ng-option>
    <ng-option [value]="'custom'">Custom</ng-option>
  </ng-select>
</div>

  <div class="col">
    <label>Assurance décès</label>
    <ng-select [multiple]="true" [(ngModel)]="selectedAssurancedDece">
      <ng-option *ngFor="let deces of assurancedDeces" [value]="deces.title">{{deces.title}}</ng-option>
      <ng-option [value]="'custom'">Custom</ng-option>
    </ng-select>
  </div>
</div>

<br>
<h4>Mes banques</h4>
<div class="row">
<div class="col">
  <label>Quelle est votre couleur de cheveux ?</label>
  <ng-select [multiple]="true" [(ngModel)]="selectedQuelleEst">
    <ng-option *ngFor="let est of quelleEst" [value]="est.title">{{est.title}}</ng-option>
    <ng-option [value]="'custom'">Custom</ng-option>
  </ng-select>
</div>
  <div class="col">
    <label>Quels animaux possédez-vous ?</label>
    <ng-select [multiple]="true" [(ngModel)]="selectedQuelsAnimaux">
      <ng-option *ngFor="let animaux of quelsAnimaux" [value]="animaux.title">{{animaux.title}}</ng-option>
      <ng-option [value]="'custom'">Custom</ng-option>
    </ng-select>
  </div>
  <div class="col">
    <label>Crédit à la consommation en cours </label>
    <ng-select [multiple]="true" [(ngModel)]="selectedCredit">
      <ng-option *ngFor="let animaux of credit" [value]="animaux.title">{{animaux.title}}</ng-option>
      <ng-option [value]="'custom'">Custom</ng-option>
    </ng-select>
  </div>
  <div class="col"></div>

</div>
<br>
<div>
  <div class="row">
    <div class="col">
        <input type="button" name="submit" class="btn btn-info btn-md  float-end" value="Précédent" (click)="back()">
    </div>
    <div class="col"></div>
    <div class="col"></div>
  
    <div class="col">
      <input type="button" name="submit" class="btn btn-info btn-md  float-end" value="Suivant" style="margin-left: 20px;" (click)="saveForm()">
    </div>
  </div>
</div>


