<table class="table table-bordered table-dark">
  <tbody>
    <tr class="no-bg">
      <td></td>
      <td><span class="span-tag">L</span></td>
      <td><span class="span-tag">M</span></td>
      <td><span class="span-tag">M</span></td>
      <td><span class="span-tag">J</span></td>
      <td><span class="span-tag">V</span></td>
      <td><span class="span-tag">S</span></td>
    </tr>
    <tr>
      <td class="no-bg" style="text-align:right">Morning</td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
    </tr>
    <tr>
      <td class="no-bg" style="text-align:right">Afternoon</td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check" [ngClass]="{'active': 1===1}"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
    </tr>
    <tr>
      <td class="no-bg" style="text-align:right">Evening</td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
      <td><i class="fa fa-check"></i></td>
    </tr>
  </tbody>
</table>
