<form [formGroup]="contactForm" (ngSubmit)="submit(contactForm.value)">
  <div class="row">
    <div class="col">
      <label>Votre pays d'origine</label>
      <select class="form-control" formControlName="VotrePays">
        <option>(choisissez)</option>
        <option value="1">Saisissez 1 caractère</option>
      </select>
    </div>

      <div class="col">
        <label>Votre niveau d'études</label>
        <select class="form-control" formControlName="VotreNiveau">
          <option>(choisissez)</option>
          <option value="1">Cap 1 Ère Année</option>
          <option value="2">Cap 2 Éme Année</option>
          <option value="3">Bep 1 Ère Année</option>
          <option value="4">Bep 2 Éme Année</option>
          <option value="5">Bac Pro 1 Ère Année</option>
          <option value="6">Bac Pro 2 Ème Année</option>
          <option value="7">Bac</option>
          <option value="8">Bts 1 Ère Année</option>
          <option value="9">Bts 2 Ème Année</option>
          <option value="10">Bac + 2</option>
          <option value="11">Bac + 3</option>
          <option value="12">Bac + 4</option>
          <option value="13">Bac + 5 Et Plus</option>
          <option value="14">Autodidacte</option>
        </select>
      </div>

    <div class="col">
      <label>Votre situation familiale *</label>
      <select class="form-control" formControlName="VotreSituation">
        <option>(choisissez)</option>
        <option value="1">Célibataire</option>
        <option value="2">Divorcé(e)</option>
        <option value="3">En concubinage / En couple</option>
        <option value="4">Marié(e)</option>
        <option value="5">Monoparentale</option>
        <option value="6">Pacsé(e)</option>
        <option value="7">Séparé</option>
        <option value="8">Veuf/veuve</option>
        <option value="9">Autre, précisez</option>
     </select>
    </div>
</div>
<br>
<div class="row">
  <div class="col">
    <label>Combien d'enfants avez-vous ?</label>
    <select class="form-control" formControlName="CombienDenfants">
      <option>(choisissez)</option>
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
  <div class="col">
    <label>Attendez-vous un enfant ?</label>
    <select class="form-control" formControlName="AttendezVous">
      <option>(choisissez)</option>
      <option value="1">Oui</option>
      <option value="2">Non</option>
   </select>
  </div>
  <div class="col"></div>
  <div class="col"></div>
</div>
<br>

<div class="row">
  <div class="col">
    <label>Combien d'enfants avez-vous ?</label>
    <select class="form-control" formControlName="CombienEnfants">
      <option>(choisissez)</option>
      <option value="1">De 0 à 600 €</option>
      <option value="2">De 600 € à 1200 €</option>
      <option value="3">De 1200 € à 1800 €</option>
      <option value="4">De 1800 € à 2400 €</option>
      <option value="5">De 2400 € à 3000 €</option>
      <option value="6">De 3000 € à 3800 €</option>
      <option value="7">De 3800 € à 4500 €</option>
      <option value="8">De 4500 € à 6500 €</option>
      <option value="9">Plus de 6500 €</option>
    </select>
  </div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
</div>
<br>
<label>* Champs obligatoires</label><br>

<br>
<div>
  <div class="row">
    <div class="col">
        <input type="button" name="submit" class="btn btn-info btn-md  float-end" value="Précédent" (click)="back()">
    </div>
    <div class="col"></div>
    <div class="col"></div>

    <div class="col">
      <input type="submit" name="submit" class="btn btn-info btn-md  float-end" value="Suivant" style="margin-left: 20px;">
    </div>
  </div>
</div>
</form>
