<h4>Ma résidence principale</h4>
  <div class="row">
    <div class="col">
      <label>Type de logement</label>
      <select class="form-control">
        <option>(choisissez)</option>
        <option value="1">Appartement</option>
          <option value="2">Bateau</option>
          <option value="3">Chalet</option>
          <option value="4">Chambre chez particulier</option>
          <option value="5">Chambre de bonne</option>
          <option value="6">Chambre étudiante</option>
          <option value="7">Chambre militaire</option>
          <option value="8">Duplex</option>
          <option value="9">Ferme</option>
          <option value="10">Fourgon ou camion aménagé</option>
          <option value="11">Foyer</option>
          <option value="12">Internat</option>
          <option value="13">Loft</option>
          <option value="14">Maison</option>
          <option value="15">Maison de retraite</option>
          <option value="16">Mobile home</option>
          <option value="17">Pavillon</option>
          <option value="18">Péniche</option>
          <option value="19">Studio</option>
          <option value="20">Autre, précisez</option>
      </select>
    </div>

      <div class="col">
        <label>Statut de votre résidence principale</label>
        <select class="form-control">
          <option>(choisissez)</option>
          <option value="1">Locataire</option>
          <option value="2">Logé à titre gratuit</option>
          <option value="3">Logé à titre professionnel</option>
          <option value="4">Logé chez mon conjoint</option>
          <option value="5">Logé chez ses parents</option>
          <option value="6">Propriétaire</option>
          <option value="7">Autre, précisez</option>
        </select>
      </div>

    <div class="col">
      <label>Equipements de votre résidence principale</label>
      <ng-select [multiple]="true" [(ngModel)]="selectedResidency">
        <ng-option *ngFor="let residency of mainresidency" [value]="residency.title">{{residency.title}}</ng-option>
        <ng-option [value]="'custom'">Custom</ng-option>
      </ng-select>
    </div>
</div>
<br>
<h4>Ma résidence secondaire</h4>
<div class="row">
  <div class="col">
    <label>Avez-vous une résidence secondaire ?</label>
    <select class="form-control">
      <option>(choisissez)</option>
      <option value="1">Oui</option>
      <option value="2">Non</option>
    </select>
  </div>
  <div class="col">
    <label>Si vous avez une résidence secondaire, de quel type de logement s’agit-il ?</label>
    <select class="form-control">
      <option>(choisissez)</option>
      <option value="1">Appartement</option>
      <option value="2">Bateau </option>
      <option value="3">Cabane</option>
      <option value="4">Chalet</option>
      <option value="5">Chambre étudiante</option>
      <option value="6">Château</option>
      <option value="7">Maison individuelle</option>
      <option value="8">Maison mitoyenne</option>
      <option value="9">Mobile home</option>
      <option value="10">Studio</option>
   </select>
  </div>
  <div class="col">
    <label>Equipements de votre résidence secondaire</label>
    <ng-select [multiple]="true" [(ngModel)]="selectedEqipmentOfYourSecondHome">
      <ng-option *ngFor="let eqipment of eqipmentOfYourSecondHome" [value]="eqipment.title">{{eqipment.title}}</ng-option>
      <ng-option [value]="'custom'">Custom</ng-option>
    </ng-select>
  </div>
  <div class="col"></div>
</div>
<br>
<h4>Mes projets de travaux</h4>
<div class="row">
  <div class="col">
    <label>Avez-vous des projets d’aménagement ou d’installation cette année ?</label>
    <ng-select [multiple]="true" [(ngModel)]="selectedmyWorkProject">
      <ng-option *ngFor="let mywork of myWorkProject" [value]="mywork.title">{{mywork.title}}</ng-option>
      <ng-option [value]="'custom'">Custom</ng-option>
    </ng-select>
  </div>
  <div class="col"></div>
  <div class="col"></div>
  <div class="col"></div>
</div>

<br>
<div>
  <div class="row">
    <div class="col">
        <input type="submit" name="submit" class="btn btn-info btn-md  float-end" value="Précédent">
    </div>
    <div class="col"></div>
    <div class="col"></div>

    <div class="col">
      <input type="submit" name="submit" class="btn btn-info btn-md  float-start" value="Enregistrer">
      <input type="submit" name="submit" class="btn btn-info btn-md  float-end" value="Suivant" style="margin-left: 20px;">
    </div>
  </div>
</div>
