<div class="row">
  <div class="col">
    <label>Votre situation professionnelle</label>
    <select class="form-control">
      <option>(choisissez)</option>
      <option value="1">Actif</option>
      <option value="2">Apprenti / Etudiant / Alternant</option>
      <option value="3">Demandeur d'emploi</option>
      <option value="4">Sans profession</option>
      <option value="5">FEmme ou homme au foyer</option>
      <option value="6">Retraité sans activité professionnelle</option>
      <option value="7">Retraité avec activité professionnelle</option>
    </select>
  </div>
  <div class="col">
    <label>Quel est votre statut professionnel ?</label>
    <select class="form-control">
      <option>(choisissez)</option>
      <option value="1">Apprenti</option>
      <option value="2">Artisan</option>
      <option value="3">Auto entrepreneur</option>
      <option value="4">Cadre</option>
      <option value="5">Artisan - Commerçant</option>
      <option value="6">Cadre supérieur</option>
      <option value="7">Chef d'entreprise</option>
      <option value="8">Commerçant</option>
      <option value="9">Congé parental - maternité</option>
      <option value="10">Conjoint collaborateur</option>
      <option value="11">Employé temps partiel</option>
      <option value="12">Employé temps plein</option>
      <option value="13">Etudiant(e)</option>
      <option value="14">Exploitant agricole</option>
      <option value="15">Interimaire</option>
      <option value="16">Intermittent du spectacle</option>
      <option value="17">Invalidité</option>
      <option value="18">Ouvrier</option>
      <option value="19">Profession libérale</option>
      <option value="20">Travailleur indépendant</option>
      <option value="21">Autre(s)</option>
    </select>
  </div>
  <div class="col">
    <label>Quelle profession exercez-vous ?</label>
    <select class="form-control">
      <option value="">Agent EDF / GDF</option>
      <option value="1">Saisissez 1 caractère</option>
    </select>
  </div>
  <div class="col"></div>
</div>
<br>
<div><h4>L’entreprise qui m’emploie</h4></div>
<div class="row">
  <div class="col">
    <label>Nom de l'entreprise ?</label>
    <input type="text" class="form-control">
  </div>
  <div class="col">
    <label>Dans quel secteur d’activité exercez-vous ?</label>
    <select class="form-control">
      <option>(choisissez)</option>
      <option value="1">Achats</option>
      <option value="2">Administration</option>
      <option value="3">Agriculture / Pêche</option>
      <option value="4">Agroalimentaire</option>
      <option value="5">Art / Culture</option>
      <option value="6">Artisanat / Commerce</option>
      <option value="7">Artistique (musique, cinéma, peinture, spectacle, etc)</option>
      <option value="8">Audit / Conseil / Expertise</option>
      <option value="9">Automobile / Aéronautique / Navale</option>
      <option value="10">Autre(s)</option>
      <option value="11">Banques / Assurances</option>
      <option value="12">Bien-être</option>
      <option value="13">BTP / Architecture / BE</option>
      <option value="14">Cabinet de recrutement / RH</option>
      <option value="15">Chimie / Sidérurgie / Mécanique</option>
      <option value="16">Commerce / Distribution</option>
      <option value="17">Communication / Publicité</option>
      <option value="18">Défense / Sécurité / Secours</option>
      <option value="19">Education / Enseignement</option>
      <option value="20">Energie (gaz, électricité, eau...)</option>
      <option value="21">Finance / Comptabilité</option>
      <option value="22">Fonction publique</option>
      <option value="23">Hotellerie / Restauration / Tourisme</option>
      <option value="24">Humanitaire</option>
      <option value="25">Immobilier</option>
      <option value="26">Industrie autre</option>
      <option value="27">Industrie électrique / électronique</option>
      <option value="28">Industrie manufacturière (textile, meuble, jouet, etc)</option>
      <option value="29">Industrie pharmaceutique</option>
      <option value="30">Informatique / Télécoms</option>
      <option value="31">Informatique / Web / Multimédia</option>
      <option value="32">Juridique / Droit</option>
      <option value="33">Logistique / Transport</option>
      <option value="34">Marketing / Etudes</option>
      <option value="35">Médias / Journalisme</option>
      <option value="36">Mode / Industrie textile</option>
      <option value="37">Police / Armées</option>
      <option value="38">Qualité / Hygiène / Sécurité / Environnement</option>
      <option value="39">Ressources humaines</option>
      <option value="40">Restauration / hôtellerie</option>
      <option value="41">Santé / Médical</option>
      <option value="42">Services aux entreprises</option>
      <option value="43">Social / Services à la personne</option>
      <option value="44">Soins / Esthétique / Coiffure</option>
      <option value="45">Sports / loisirs</option>
      <option value="46">Télécommunications</option>
    </select>
  </div>

  <div class="col">
    <label>Secteur privé ou secteur public ?</label>
    <select class="form-control">
      <option>(choisissez)</option>
      <option value="1">Privé</option>
      <option value="2">Public</option>
      <option value="3">Autre(s)</option>
    </select>
  </div>

  <div class="col">
    <label>Quels sont les effectifs de votre entreprise au niveau national ?</label>
    <select class="form-control">
      <option>(choisissez)</option>
      <option value="1">1 à 9</option>
      <option value="2">10 à 250 </option>
      <option value="3">251 à 500</option>
      <option value="4">Plus de 500</option>
      <option value="5">Pas de salarié</option>
    </select>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <label>Adresse</label>
    <input type="text" class="form-control">
  </div>
  <div class="col">
    <label>Code postal</label>
    <input type="number" class="form-control">
  </div>
  <div class="col">
    <label>Ville</label>
    <input type="text" class="form-control">
  </div>
  <div class="col"></div>
</div>
<br>

<div>
  <div class="row">
    <div class="col">
      <label>Quelle est la banque principale de votre entreprise ?</label>
      <select class="form-control">
        <option>(choisissez)</option>
        <option value="1">Saisissez 1 caractère</option>
      </select>
    </div>
    <div class="col">
      <label>Quel chiffre d'affaires annuel réalise votre entreprise ?</label>
      <input type="text" class="form-control">
    </div>

    <div class="col">
      <label>Quel est votre statut professionnel ?</label>
      <select class="form-control">
        <option>(choisissez)</option>
        <option value="1">moins de 50 K€</option>
        <option value="2">de 50 K€ à 100 K€</option>
        <option value="3">de 100 K€ à 250 K€</option>
        <option value="4">de 250 K€ à 500 K€</option>
        <option value="5">de 500 K€ à 1 M€</option>
        <option value="6">de 1 M€ à 5 M€</option>
        <option value="7">de 5 M€ à 10 M€</option>
        <option value="8">10 M€ et plus</option>
        <option value="9">Je ne sais pas / je ne souhaite pas répondre</option>
     </select>
    </div>
    <div class="col"></div>
  </div>
</div>
<br>
<div>
  <div class="row">
    <div class="col">
        <input type="submit" name="submit" class="btn btn-info btn-md  float-end" value="Précédent">
    </div>
    <div class="col"></div>
    <div class="col"></div>

    <div class="col">
      <input type="submit" name="submit" class="btn btn-info btn-md  float-start" value="Enregistrer">
      <input type="submit" name="submit" class="btn btn-info btn-md  float-end" value="Suivant" style="margin-left: 20px;">
    </div>
  </div>
</div>


